[submodule "modules/caribouLocPrep"]
	path = modules/caribouLocPrep
	url = git@github.com:tati-micheletti/caribouLocPrep.git
[submodule "modules/prepTracks"]
	path = modules/prepTracks
	url = https://github.com/tati-micheletti/prepTracks
[submodule "modules/prepLandscape"]
	path = modules/prepLandscape
	url = https://github.com/tati-micheletti/prepLandscape
[submodule "modules/extractLand"]
	path = modules/extractLand
	url = https://github.com/tati-micheletti/extractLand
[submodule "modules/caribouiSSA"]
	path = modules/caribouiSSA
	url = https://github.com/tati-micheletti/caribouiSSA
[submodule "modules/caribouNN_Global"]
	path = modules/caribouNN_Global
	url = git@github.com:tati-micheletti/caribouNN_Global.git
[submodule "modules/caribouNN"]
	path = modules/caribouNN
	url = git@github.com:tati-micheletti/caribouNN.git
